{% extends 'base.html' %}

{% block body %} 
<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:monospace;
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <img src="../static/images/images (13).jpeg">
        <h1>LET START JOURNEY</h1>
        <P>MyBudget web application helps<br> you to maintain budget<br>
             and analyse the expense</P>
        <img height="13%" width="13%" style="position: relative; top: -690PX; left: -60PX;" src="../static/images/istockphoto-943300706-612x612.jpg">
    </div>
    <span  class="btn btn-outline-dark">Let's Begin</span>
</div>

{% endblock %}